
@font-face {
    font-family: 'XB Titre';
    src: url('css/Titre/XB Titre.ttf')  format('truetype')
  }

@font-face {
    font-family: 'Nazli';
    src: url('css/Nazli/nazli.ttf')  format('truetype')
  }

body {
    direction: rtl;
}

article {
    font-family: Nazli;
}

article h1, h2 {
    font-family: 'XB Titre';
}

pre {
    direction: ltr;
}
